<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Информационная система </title>

    <!-- Bootstrap Core CSS  -->

    <link href="{% static "bootstrap-4.5.2-dist/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="{% static "fontawesome-free-5.14.0-web/css/fontawesome.min.css" %}" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src={% static "jquery3/jquery.slim.min.js" %}></script>
    <script src={% static "bootstrap-4.5.2-dist/js/bootstrap.min.js" %}></script>
    <script src={% static "js/popper.min.js" %}></script>

</head>

<style>

    .bg-service {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .bg-calc {
        background-color: rgba(219, 0, 0, 0.2);
    }

    .bg-work {
        background-color: rgba(67, 186, 43, 0.2);
    }

    .bg-analyse {
        background-color: rgba(186, 151, 10, 0.2);
    }

</style>
<div class="col-lg-12 col-lg-offset-1">

    <div class="navbar navbar-default yamm text-center" role="navigation" id="navbar">

        <div class="modal-header" align="center">

            <h5 class="text-danger"> РЕСПУБЛИКАНСКОЕ УНИТАРНОЕ ПРЕДПРИЯТИЕ " ИНФОРМАЦИОННО-ИЗДАТЕЛЬСКИЙ ЦЕНТР ПО НАЛОГАМ
                И СБОРАМ " </h5>
            <p></p>
        </div>
    </div>
    <body>



